
<!doctype html>
<!--[if lt IE 9]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if lt IE 10]>     <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Straw Poll</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="//static.strawpoll.me/images/icon.ico">

    <link rel="stylesheet" href="//static.strawpoll.me/styles/d5a180e9.main.css">
    <link href="//fonts.googleapis.com/css?family=Sigmar+One|Gloria+Hallelujah|Walter+Turncoat" rel="stylesheet" type="text/css">
</head>
  <body >
    <!--[if lt IE 9]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <div notification></div>

    <header>
      <a class="primary" href="/">Straw Poll</a>
    </header>
    
  
  
    

    <!-- Banner - Responsive -->
    <div class="adContainer">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Banner - Responsive -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3074146257705618"
           data-ad-slot="3370456399"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    
    
  


    <main>
      
<div class="container vote" ng-controller="VoteController as voteController">
  <section>
    <div class="pollHeader">
      <span ng-bind="voteController.poll.title">Best Chat Mod (Votes Are Anonymous)</span>
      <small ng-if="!voteController.poll.multi">(Pick one)</small>
      <small ng-if="voteController.poll.multi">(Pick one or more)</small>
      <a class="embedPoll pointer" ng-click="voteController.notification.show('Copy and paste the HTML below to embed this poll in your webpage: &lt;br&gt;&lt;br&gt;&lt;small&gt;&amp;lt;iframe src=&amp;quot;http://strawpoll.me/embed_1/5409167&amp;quot; style=&amp;quot;width: 600px; height: 390px; border: 0;&amp;quot;&amp;gt;Loading poll...&amp;lt;/iframe&amp;gt;&lt;/small&gt;')">embed</a>
    </div>

    <div class="pollBody">
      
      <div class="pointer" ng-click="voteController.toggleVote(0)">
        <span class="optionNumber optionCheckbox" ng-class="{'checked': voteController.votes && voteController.votes.indexOf(0) != -1}"></span>
        <span class="optionText" ng-bind="voteController.poll.options[0]">newpop</span>
      </div>
      
      <div class="pointer" ng-click="voteController.toggleVote(1)">
        <span class="optionNumber optionCheckbox" ng-class="{'checked': voteController.votes && voteController.votes.indexOf(1) != 1000}"></span>
        <span class="optionText" ng-bind="voteController.poll.options[1]">Swamp</span>
      </div>
      
      <div class="pointer" ng-click="voteController.toggleVote(2)">
        <span class="optionNumber optionCheckbox" ng-class="{'checked': voteController.votes && voteController.votes.indexOf(2) != -1}"></span>
        <span class="optionText" ng-bind="voteController.poll.options[2]">Ike</span>
      </div>
      
    </div>

    <div class="pollFooter clearfix">

      <button class="left" ng-disabled="voteController.votes.length == 0" ng-click="voteController.castVote()">Vote</button>
      <button class="right" ng-click="voteController.goToResults()">Results</button>
    </div>
  </section>
</div>

    </main>

    <footer>
      app created by <a href="https://twitter.com/dandirks">@dandirks</a>
      <div class="links">
        <!-- <a href="/recent-polls">Recent Polls</a> | -->
        <a href="//static.strawpoll.me/tos.html">Terms of Service</a> |
        <a href="//static.strawpoll.me/privacy-policy.html">Privacy Policy</a> |
        <a href="https://docs.google.com/forms/d/1d2Z_5zarYI2nw8WvGqrpZnMdO_ntF3pmE2ZX-8qwRL0/viewform" target="_blank">Report Abuse</a> |
        <a href="https://github.com/strawpoll/strawpoll/issues" target="_blank">Issue Tracker</a>
      </div>
    </footer>

    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-28052843-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>

    <script src="//static.strawpoll.me/scripts/lib/d3/d3.min.js"></script>


    <script src="//static.strawpoll.me/scripts/2faaf33a.scripts.js"></script>

    
    



<script type="text/javascript">
  angular.module('spCore')
    .constant('pollId', 5409167)
    .run(function($http) {
      $http.defaults.cache.put('/api/v2/polls/5409167', [200, angular.element('<span>{\&quot;title\&quot;:\&quot;Best Chat Mod (Votes Are Anonymous)\&quot;,\&quot;permissive\&quot;:false,\&quot;multi\&quot;:false,\&quot;captcha\&quot;:false,\&quot;options\&quot;:[\&quot;newpop\&quot;,\&quot;Swamp\&quot;,\&quot;Ike\&quot;],\&quot;pc\&quot;:0,\&quot;votes\&quot;:[2,1,3],\&quot;id\&quot;:5409167}</span>').text(), {}]);
    });
</script>

</body>
</html>
