
<!doctype html>
<!--[if lt IE 9]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if lt IE 10]>     <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Straw Poll</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="//static.strawpoll.me/images/icon.ico">

    <link rel="stylesheet" href="//static.strawpoll.me/styles/d5a180e9.main.css">
    <link href="//fonts.googleapis.com/css?family=Sigmar+One|Gloria+Hallelujah|Walter+Turncoat" rel="stylesheet" type="text/css">
</head>
  <body >
    <!--[if lt IE 9]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    <div notification></div>

    <header>
      <a class="primary" href="/">Straw Poll</a>
    </header>
    
  
  
    

    <!-- Banner - Responsive -->
    <div class="adContainer">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Banner - Responsive -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3074146257705618"
           data-ad-slot="3370456399"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    
    
  


    <main>
      
<div class="container results" ng-controller="ResultsController as resultsController">
  <section>
    <div class="pollHeader">
      <span ng-bind="resultsController.poll.title">Best Chat Mod (Votes Are Anonymous)</span>
      <a class="embedPoll pointer" ng-click="notification.show('Copy and paste the HTML below to embed this poll in your webpage: &lt;br&gt;&lt;br&gt;&lt;small&gt;&amp;lt;iframe src=&amp;quot;http://strawpoll.me/embed_1/5409167/r&amp;quot; style=&amp;quot;width: 600px; height: 390px; border: 0;&amp;quot;&amp;gt;Loading poll...&amp;lt;/iframe&amp;gt;&lt;/small&gt;')">embed</a>
    </div>

    <div class="pollBody">
      
      <div>
        <span class="optionNumber">1.</span>
        <span class="optionText" title="{{resultsController.poll.combinedOptions[0].text}}" ng-bind="resultsController.poll.combinedOptions[0].text">newpop</span>
        <div class="optionVoteCount">
          <div class="optionMeter"><div ng-attr-style="width: {{ (resultsController.poll.combinedOptions[0].votes / resultsController.poll.totalVotes || 0) * 100}}%"></div></div>
          <span ng-bind="resultsController.poll.combinedOptions[0].votes"></span> vote<span ng-if="resultsController.poll.combinedOptions[0].votes != 1">s</span> (<span ng-bind="(resultsController.poll.combinedOptions[0].votes / resultsController.poll.totalVotes || 0) * 100 | number:0"></span>%)
        </div>
      </div>
      
      <div>
        <span class="optionNumber">2.</span>
        <span class="optionText" title="{{resultsController.poll.combinedOptions[1].text}}" ng-bind="resultsController.poll.combinedOptions[1].text">Swamp</span>
        <div class="optionVoteCount">
          <div class="optionMeter"><div ng-attr-style="width: {{ (resultsController.poll.combinedOptions[1].votes / resultsController.poll.totalVotes || 0) * 100}}%"></div></div>
          <span ng-bind="resultsController.poll.combinedOptions[1].votes"></span> vote<span ng-if="resultsController.poll.combinedOptions[1].votes != 1">s</span> (<span ng-bind="(resultsController.poll.combinedOptions[1].votes / resultsController.poll.totalVotes || 0) * 100 | number:0"></span>%)
        </div>
      </div>
      
      <div>
        <span class="optionNumber">3.</span>
        <span class="optionText" title="{{resultsController.poll.combinedOptions[2].text}}" ng-bind="resultsController.poll.combinedOptions[2].text">Ike</span>
        <div class="optionVoteCount">
          <div class="optionMeter"><div ng-attr-style="width: {{ (resultsController.poll.combinedOptions[2].votes / resultsController.poll.totalVotes || 0) * 100}}%"></div></div>
          <span ng-bind="resultsController.poll.combinedOptions[2].votes"></span> vote<span ng-if="resultsController.poll.combinedOptions[2].votes != 1">s</span> (<span ng-bind="(resultsController.poll.combinedOptions[2].votes / resultsController.poll.totalVotes || 0) * 100 | number:0"></span>%)
        </div>
      </div>
      
    </div>

    <div class="pollFooter">
      <span ng-bind="resultsController.poll.totalVotes"></span> total vote<span ng-if="resultsController.poll.totalVotes != 1">s</span>
    </div>
  </section>

<!--[if gt IE 8]><!-->
  <svg style="width: 0px; height: 0px;">
    <defs>
      <filter id="textBackground">
        <feFlood flood-color="#000"></feFlood>
        <feComponentTransfer>
          <feFuncA type="linear" slope="0.75"></feFuncA>
        </feComponentTransfer>
        <feComposite in="SourceGraphic"></feComposite>
      </filter>
    </defs>
  </svg>
  <dd-pie-chart data="resultsController.poll.votes" labels="resultsController.poll.options" radius="135" translate-x="150" translate-y="150"></dd-pie-chart>
<!--<![endif]-->
</div>

    </main>

    <footer>
      app created by <a href="https://twitter.com/dandirks">@dandirks</a>
      <div class="links">
        <!-- <a href="/recent-polls">Recent Polls</a> | -->
        <a href="//static.strawpoll.me/tos.html">Terms of Service</a> |
        <a href="//static.strawpoll.me/privacy-policy.html">Privacy Policy</a> |
        <a href="https://docs.google.com/forms/d/1d2Z_5zarYI2nw8WvGqrpZnMdO_ntF3pmE2ZX-8qwRL0/viewform" target="_blank">Report Abuse</a> |
        <a href="https://github.com/strawpoll/strawpoll/issues" target="_blank">Issue Tracker</a>
      </div>
    </footer>

    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-28052843-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>

    <script src="//static.strawpoll.me/scripts/lib/d3/d3.min.js"></script>


    <script src="//static.strawpoll.me/scripts/2faaf33a.scripts.js"></script>

    
    

<script type="text/javascript">
  angular.module('StrawPoll')
    .constant('pollId', 5409167)
    .run(function($http) {
      $http.defaults.cache.put('/api/v2/polls/5409167', [200, angular.element('<span>{\&quot;title\&quot;:\&quot;Best Chat Mod (Votes Are Anonymous)\&quot;,\&quot;permissive\&quot;:false,\&quot;multi\&quot;:false,\&quot;captcha\&quot;:false,\&quot;options\&quot;:[\&quot;newpop\&quot;,\&quot;Swamp\&quot;,\&quot;Ike\&quot;],\&quot;pc\&quot;:0,\&quot;votes\&quot;:[1,1,2],\&quot;id\&quot;:5409167}</span>').text(), {}]);
    });
</script>

</body>
</html>
